.custom-form{
    border-radius: 16px !important;
    width: 400px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.custom-form h3{
    text-align: center;
}
.custom-form span{
    font-size: 16px;
    line-height: 24px;
    color: #161617;
    margin-bottom: 6px !important;
}
.form-group{
    margin-top: 20px;
}
.btn{
    margin: auto;
    margin-top: 20px;
    width: 100px;
}
.yes{

}
.no{
margin-left:230px ;
}

html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}
body{
    background-color: transparent !important;
}